/* document */

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
  }

html {
    font-size: 100%;
  }

body {
    background-color: var(--black);
    overflow-x: hidden;
  }

ul {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --white: #ffffff;

    --purple: #8042d1;
}

/* navigation menu, the same for each page */

header nav {
    background-color: var(--purple);
  }


/* menu items */

header nav ul:first-of-type li:first-of-type {
    margin-top: 1rem;
  }

header nav ul:nth-of-type(2) li {
  margin-bottom: 1rem;
}

header nav ul:nth-of-type(2) a p {
  transition: 1s;
}

header nav ul:nth-of-type(2) a p:hover {
    transform: scale(1.1);
}

header nav ul li p {
    color: white;

    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
}

/* hamburger menu button */

header nav ul:nth-of-type(1) button {
    background: transparent;

    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;

    padding: 0 1rem 0 1rem;

    border: 1px solid var(--white);

    transition: 1s;
}

header nav ul:nth-of-type(1) button:active {
  border: 1px dashed var(--purple);
}

@media (max-width: 38em) {

  header nav {
    position: fixed;
    width: 100%;

    z-index: 1000;

    top: 0;
  }

  header nav ul:first-of-type li:first-of-type {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  header nav ul:first-of-type li:nth-of-type(2) {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  header nav ul:first-of-type {
    display: flex;
    justify-content: space-between;
    
  }

  header nav ul {
    flex-wrap: nowrap;
  }

  header nav ul:nth-of-type(2) {
    background-color: var(--purple);

    text-align: right;
    align-self: flex-end;
    
    position: fixed;

    height: 100%;
    width: auto;

    padding: 0 1rem 0 5rem;

    gap: 2rem;    
    right: 0;


    z-index: 100;

    transform: translateX(40rem);
    overflow-x: hidden;

    transition: .7s;
  }

  header nav ul:nth-of-type(2).menu {
    transform: translateX(0);
  }

  header nav ul:nth-of-type(2) li {
    text-align: right;
    margin-right: 1rem;
    margin-top: 2rem;

    width: auto;
  }
}

@media (min-width: 38em) {
  header nav ul:first-of-type li:nth-of-type(2) {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  header nav ul:first-of-type li:first-of-type {
    text-align: center;
    margin-bottom: 1rem;
  }

  header nav ul:first-of-type li:first-of-type p {
    font-size: 3rem;
  }

  header nav ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}
}

/* @media (min-width: 64em) {
  header nav ul:first-of-type li:first-of-type p {
    font-size: 4rem;
  }

  header nav ul:nth-of-type(2) {
    gap: 10rem;
  }

  header nav ul:nth-of-type(2) li p {
    font-size: 2.5rem;
  }
} */

/* picture + text, homepage */
#home main section:first-of-type {
  margin-top: 2em;
}

@media (max-width: 38em) {
  #home main section:first-of-type ul {
    margin-top: 4 em;
  }
}

@media (max-width: 60em) {
#home main section:first-of-type ul {
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


}

@media (min-width: 60em) {
  #home main section:first-of-type {
    

    margin: 4rem 2rem 4rem 2rem;
  }
}

@media (max-width: 60em) {
  #home main section:first-of-type img {
    margin: 1rem 0 3rem 0;
  }
}

#home main section:first-of-type ul li {
  align-self: center;
}

#home main section:first-of-type ul li:first-of-type img {
  width: 10rem;

  flex-grow: 2;

  border-radius: 1000px;

  
}

#home main section:first-of-type ul li:nth-of-type(2) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1rem 0 1rem;

  flex-grow: 2;

  max-width: 50rem;
}


@media (min-width: 60em) {
  #home main section:first-of-type ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
  }

  #home main section:first-of-type ul li:first-of-type img {

    width: 14rem;
  }

  #home main section:first-of-type ul li:nth-of-type(2) p {
    font-size: 1.5rem;

    text-align: left;

    padding: 0 1rem 0 2rem;
  }
}

@media (min-width: 100em) {
  #home main section:first-of-type ul li:nth-of-type(2) p {
    color: white;
    font-family: 'Dongle', sans-serif;
    text-align: left;
    font-size: 1.7rem;
    padding: 0 3rem 0 3rem;
  
    flex-grow: 2;
  
    max-width: 60rem;
  }
}

/* project overview */

#home main {
  
}

#home main section {
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 2rem 2rem 2rem 2rem;

  gap: 2rem;
}

#home main section a ul {
  transition: 1s;
}

#home main section a {
  justify-items: center;
  margin: 0;
}

#home main section a ul li:first-of-type img {
  width: 100%;

  border-radius: 20px;
}

#home main section a {
  width: 50%;
}

#home main section:nth-of-type(2) a:nth-of-type(2) {
  width: 44%;
}

#home main section:nth-of-type(2) a:nth-of-type(2) img {
  width: 100%;
}

#home main section:nth-of-type(3) a:first-of-type {
  width: 47%;
}

#home main section:nth-of-type(3) a:first-of-type img {
  width: 100%;
}


#home main section a ul li:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  text-align: center;

  font-family: 'Dongle', sans-serif;
}

@media (min-width: 38em) {
  
}

@media (max-width: 38em) {
  #home main {
    margin-top: 8rem;
  }
}

@media (min-width: 60em) {
  #home main section a ul li:nth-of-type(2) {
    font-size: 2rem;
  }

}

/* grid display on smaller screens (making sure only
one block shows per column */

@media (max-width: 60em) {
  #home main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #home main section a:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;

    width: 100%;
  }

  
  #home main section:first-of-type a:first-of-type {
    width: 100%;
  }

  #home main section:first-of-type a:nth-of-type(2) {
    width: 100%;
  }

  #home main section:nth-of-type(2) a:first-of-type {
      width: 100%;
    }

  #home main section:nth-of-type(2) a:nth-of-type(2) {
      width: 100%;
    }

    #home main section:nth-of-type(3) a:first-of-type {
      width: 100%;
    }

}

/* adding states to the different blocks */

#home main section a ul:hover {
  transform: scale(1.05);
}

#home main section a ul:active {
  transform: scale(0.95);
}

#home main section a:focus {
  transition: 0s; 
  padding: 1rem;
  border: 2px dashed var(--purple);
  outline: none;
}

/* contact */

footer section {
  background-color: var(--purple);
}

footer section ul {
  padding: 0;
}

footer section li p {
  color: white;
  font-family: 'Dongle', sans-serif;
}

footer section li:first-of-type {
  margin-top: 4rem;
  padding-top: 2rem;
}

footer section ul:first-of-type li p {
  font-size: 2.5rem;
  text-align: center;
}

footer section ul:nth-of-type(2) {
  margin-top: 2rem;

  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer section ul:nth-of-type(2) li:first-of-type {
  margin: 0;
  padding: 0;
}

footer section li img {
  height: 2rem;
  width: auto;
}

footer section ul:nth-of-type(3) li p {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 1rem;
}

/* dress up game page */

/* general stuff */

#work main section:first-of-type ul {
  padding: 0;
}

#work main section:first-of-type ul li {
  color: white;
  font-family: 'Dongle', sans-serif;
}

/* menu page */

/* @media (max-width: 38em) {

  #work header nav {
    position: fixed;
    width: 100%;

    z-index: 1000;

    top: 0;
  }

  #work header nav ul:first-of-type li:first-of-type {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  #work header nav ul:first-of-type li:nth-of-type(2) {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  #work header nav ul:first-of-type {
    display: flex;
    justify-content: space-between;
    
  }

  #work header nav ul {
    flex-wrap: nowrap;
  }

  #work header nav ul:nth-of-type(2) {
    background-color: var(--purple);

    text-align: right;
    align-self: flex-end;
    
    position: fixed;

    height: 100%;
    width: auto;

    padding: 0 1rem 0 5rem;

    gap: 2rem;    
    right: 0;


    z-index: 100;

    transform: translateX(40rem);
    overflow-x: hidden;

    transition: .7s;
  }

  #work header nav ul:nth-of-type(2).menu {
    transform: translateX(0);
  }

  #work header nav ul:nth-of-type(2) li {
    text-align: right;
    margin-right: 1rem;
    margin-top: 2rem;

    width: auto;
  }
} */

/* intro */

#work main section:first-of-type article:first-of-type {
  display: flex;
  margin: 2rem 5rem 2rem 5rem;
}

#work main section:first-of-type article:first-of-type ul {
  padding: 0;
  width: 100%;
} 

/* image */

#work main section:first-of-type article:first-of-type ul:first-of-type li img {
  width: 100%;
  height: auto;

  align-self: left;
}

/* info */

#work main section:first-of-type article:first-of-type ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 50%;

  gap: 1rem;
}

#work main section:first-of-type article:first-of-type ul:nth-of-type(2) li {
  text-align: left;
}

#work main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#work main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
  font-size: 1.5rem;
  margin: 0;

  text-align: left;
}

/* title */

/* #dressup main section:first-of-type ul:first-of-type li {
  text-align: center;
}

#dressup main section:first-of-type ul:first-of-type li h1 {
  font-size: 2.5rem;
  

  margin: 2rem 0 2rem 0;
} */

/* introduction text */

#work main section:first-of-type article:nth-of-type(2) {
  background-color: var(--purple);
}

#work main section:first-of-type article:nth-of-type(2) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
  font-size: 1.6rem;

  margin: 2rem 2rem 2rem 2rem;
  max-width: 50rem;

  text-align: left;

}

/* text + pictures */

#work main section:first-of-type article:nth-of-type(3) ul {
  margin: 2rem 0 2rem 0;
}

#work main section:first-of-type article:nth-of-type(3) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(7) li {
  display: flex;
  justify-content: center;
}



#work main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(7) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

/* first set of code images */

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 2rem;

  gap: 2rem;

  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li {
  width: 100%;

  justify-content: center;
  align-items: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li:first-of-type img {
  width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li:nth-of-type(2) {
  width: 50%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li:nth-of-type(2) img {
  width: 100%;
}

/* 2nd picture section */

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li {
  display: flex;
  justify-content: center;
  
  width: 50%;

}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li img {
  width: 100%;
}

/* 3rd picture section */

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) {
  display: flex;
  flex-direction: row;

  margin: 0 2rem 0 2rem;
  gap: 2rem;

  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li {
  width: 50%;

  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li:first-of-type {
  width: 45%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li img {
 width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li:nth-of-type(2) img {
  width: 100%;
}

/* 4th picture section */

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) {
  display: flex;
  flex-direction: row;

  margin: 2rem 2rem 3rem 2rem;
  gap: 2rem;

  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li {
  width: 50%;

}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li img {
  width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li:nth-of-type(1) {
  width: 40%;
}

#work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li:nth-of-type(1) img {
  width: 100%;
}

/* last part */

#work main section:first-of-type article:nth-of-type(4) {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  margin: 4rem 0 2rem 0;
}

#work main section:first-of-type article:nth-of-type(4) ul {
  display: flex;
  justify-content: center;
  
}

#work main section:first-of-type article:nth-of-type(4) ul li {
  display: flex;
  justify-content: center;
}

#work main section:first-of-type article:nth-of-type(4) ul li p {
  font-size: 1.6rem;
  margin: 2rem 2rem 2rem 2rem;

  max-width: 50rem;
  
  text-align: left;
}

/* video */

#work main section:first-of-type article:nth-of-type(5) {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 3rem 0 0rem 0;
}

#work main section:first-of-type article:nth-of-type(5) ul li:first-of-type h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

#work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(2) {
  display: flex;
  justify-content: center;

  width: 100%;

  margin: 0;
}

#work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(2) video {
  width: 75%;
}

/* website link */

#work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(3) a {
  transition: 1s;
}

#work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(3) li a {
  transition: 1s;
  
}

#work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(3) a p {
  font-size: 2.5rem;
  text-align: center;

  margin: 2rem 2rem 0 2rem;
  
  color: var(--purple);

  transition: 1s;
}

#work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(3) li a {
  font-size: 2.5rem;
  text-align: center;

  color: var(--purple);

  transition: 1s;
}

#work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(3) a:hover {
  text-decoration: underline;
}

#work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(3) li a:hover {
  text-decoration: underline;
}


/* media queries */

@media (min-width: 100em) {
  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    font-size: 3rem;
  }

  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    font-size: 2rem;
  }

  #work main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
    font-size: 1.8rem;
    max-width: 60rem;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(7) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #work main section:first-of-type article:nth-of-type(4) ul li p {
    font-size: 1.8rem;
    max-width: 60rem; 
  }
}

@media (max-width: 60em) {
  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    font-size: 2.3rem;
  }

  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    font-size: 1.3rem;
  }
}

/* media query for making two pictures next to eachother go underneath */



@media (max-width: 43em) {
  #work main section:first-of-type article:first-of-type {
    display: flex;
    flex-direction: column;
  }

  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    text-align: center;
  }

  #work main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    text-align: center;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li:nth-of-type(2) {
    align-self: center;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) {
    display: flex;
    flex-direction: column;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li:first-of-type {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) {
    display: flex;
    flex-direction: column;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(3) ul:nth-of-type(8) li:nth-of-type(1) {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(5) ul {
    margin: 0 2rem 0 2rem;
  }

  #work main section:first-of-type article:nth-of-type(5) ul li:nth-of-type(2) video {
    width: 100%;
  }
}

@media (max-width: 38em) {
  #work main section:first-of-type article:first-of-type {
    margin-top: 5rem;
  }
}

/* evt voor bovenste stukje

@media (max-width: 43em) {

}

/* ISGA guide */

@media (min-width: 43em) {

/* first set of images */

#work main section:first-of-type article:nth-of-type(3) ul.isga {
  display: flex;
  flex-direction: row;

  margin: 2rem;
  padding: 0;
}

#work main section:first-of-type article:nth-of-type(3) ul.isga li {
  max-width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul.isga li:first-of-type {
  width: 28%;
}

#work main section:first-of-type article:nth-of-type(3) ul.isga li:first-of-type img {
  width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul.isga li:nth-of-type(2) img {
  width: 100%;
}

/* second set of images */

#work main section:first-of-type article:nth-of-type(3) ul.isgatwo {
  display: flex;
  flex-direction: row;

  margin: 2rem 2rem 5rem 2rem;
  padding: 0;

  gap: 2rem;
}

#work main section:first-of-type article:nth-of-type(3) ul.isgatwo li {
  width: 100%;
}

#work main section:first-of-type article:nth-of-type(3) ul.isgatwo li:nth-of-type(2) {
  width: 23%;
}

#work main section:first-of-type article:nth-of-type(3) ul.isgatwo li img {
  width: 100%;
}

}

@media (max-width: 43em) {

  /* first set of images */

  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  #work main section:first-of-type article:nth-of-type(3) ul.isga li {
    max-width: 100%;

    justify-content: center;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isga li:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isga li:first-of-type img {
    width: 75%;
  }

  #work main section:first-of-type article:nth-of-type(3) ul.isga li:nth-of-type(2) {
    width: 100%;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isga li:nth-of-type(2) img {
    width: 100%;
  }

  /* second set of images */

  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo {
    display: flex;
    flex-direction: column;

    justify-content: center;
  
    margin: 2rem;
    padding: 0;
  
    gap: 2rem;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo li {
    width: 100%;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo li:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo li img {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(3) ul.isgatwo li:nth-of-type(2) img {
    width: 50%;
  }
}


/* end result pictures */

@media (min-width: 60em) {
  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 2rem;

    margin: 2rem;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li img {
    width: 100%;
  }

}

@media (max-width: 60em) {
  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2rem;

    margin: 2rem;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li {
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li img {
    width: 100%;
  }
}

@media (max-width: 43em) {
  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem;

    margin: 2rem;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #work main section:first-of-type article:nth-of-type(5) ul:nth-of-type(2) li img {
    width: 75%;
  }
}




/* large replica page */

#large main section:first-of-type ul {
  padding: 0;
}

#large main section:first-of-type ul li {
  color: white;
  font-family: 'Dongle', sans-serif;
}

#large main section:first-of-type article:first-of-type {
  display: flex;
  /* margin: 2rem 5rem 2rem 5rem; */
}

#large main section:first-of-type article:first-of-type ul {
  padding: 0;
  width: 100%;
} 

/* image */

#large main section:first-of-type article:first-of-type ul:first-of-type li img {
  width: 100%;
  height: auto;

  align-self: left;
}

/* info */

#large main section:first-of-type article:first-of-type ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 50%;

  gap: 1rem;
}

#large main section:first-of-type article:first-of-type ul:nth-of-type(2) li {
  text-align: left;
}

#large main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#large main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
  font-size: 1.5rem;
  margin: 0;

  text-align: left;
}

@media (max-width: 43em) {
  #large main section:first-of-type article:first-of-type {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
  
    width: 100%;
    
  
    gap: 1rem;
  }

  #large main section:first-of-type article:first-of-type ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 2rem;
  }

  #large main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    text-align: center;
    width: 100%;
  }

  #large main section:first-of-type article:first-of-type ul:nth-of-type(2) li p  {
    text-align: center;
    width: 100%;
  }

}

/* intro text */

#large main section:first-of-type article:nth-of-type(2) {
  background-color: var(--purple);
}

#large main section:first-of-type article:nth-of-type(2) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#large main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
  font-size: 1.6rem;

  margin: 2rem 2rem 2rem 2rem;
  max-width: 50rem;

  text-align: left;

}

/* text + pictures */

#large main section:first-of-type article:nth-of-type(3) ul {
  margin: 2rem 0 2rem 0;
}

#large main section:first-of-type article:nth-of-type(3) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li {
  display: flex;
  justify-content: center;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li {
  display: flex;
  justify-content: center;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(7) li {
  display: flex;
  justify-content: center;
}

#large main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(7) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

/* first images */

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 2rem;
  margin: 2rem 0 2rem 0;

  width: 100%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li {
  width: 40%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li img {
  width: 100%;
}

@media (max-width: 43em) {
  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 2rem;
    margin: 2rem 0 2rem 0;
  
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li {
    display: flex;
    justify-content: center;
    
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li img {
    width: 100%;
  }
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 2rem;
  margin: 2rem 0 2rem 0;

  width: 100%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li {
  width: 40%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type {
  width: 32%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li img {
  width: 100%;
}

@media (max-width: 38em) {
  #large main section:first-of-type article:first-of-type ul {
    margin-top: 2rem;
  }
}

@media (max-width: 43em) {
  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 2rem;
    margin: 2rem 0 2rem 0;
  
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li {
    display: flex;
    justify-content: center;
    
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li img {
    width: 60%;
  }
}

/* form validation */

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 2rem;
  margin: 2rem 0 2rem 0;

  width: 100%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li {
  width: 75%;
}

#large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(6) li img {
  width: 100%;
}

/* last part */

#large main section:first-of-type article:nth-of-type(4) {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  margin: 1rem 0 2rem 0;
}

#large main section:first-of-type article:nth-of-type(4) ul li p {
  font-size: 1.6rem;
  margin: 2rem 2rem 2rem 2rem;

  max-width: 50rem;
  
  text-align: left;
}

/* last part */

#large main section:first-of-type article:nth-of-type(5) ul li h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

#large main section:first-of-type article:nth-of-type(6) ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 1rem 0 2rem 0;
  gap: 2rem;

  width: 100%;
}

#large main section:first-of-type article:nth-of-type(6) ul li:first-of-type {
  width: 40%;
}

#large main section:first-of-type article:nth-of-type(6) ul li:first-of-type img {
  width: 100%;
}

#large main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(2) {
  width: 50%;
}

#large main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(2) img {
  width: 100%;
}

#large main section:first-of-type article:nth-of-type(7) ul {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin: 2rem 0 2rem 0;
  gap: 2rem;

  width: 100%;
}

#large main section:first-of-type article:nth-of-type(7) ul li img {
  width: 100%;
}

#large main section:first-of-type article:nth-of-type(7) ul li:first-of-type {
  width: 30%;
}

#large main section:first-of-type article:nth-of-type(7) ul li:nth-of-type(2) {
  width: 30%;
}

@media (max-width: 43em) {
  #large main section:first-of-type article:nth-of-type(6) ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: 2rem 0 2rem 0;
    gap: 2rem;
  
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(6) ul li:first-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #large main section:first-of-type article:nth-of-type(6) ul li:first-of-type img {
    width: 80%;
  }
  
  #large main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #large main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(2) img {
    width: 80%;
  }
}

@media (max-width: 32em) {

  #large main section:first-of-type article:nth-of-type(7) ul {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
  
    margin: 2rem 0 2rem 0;
    gap: 2rem;
  
    width: 100%;
  }
  
  #large main section:first-of-type article:nth-of-type(7) ul li:first-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #large main section:first-of-type article:nth-of-type(7) ul li:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #large main section:first-of-type article:nth-of-type(7) ul li:first-of-type img {
    width: 50%;
  }

  #large main section:first-of-type article:nth-of-type(7) ul li:nth-of-type(2) img {
    width: 50%;
  }

}


  @media (max-width: 60em) {

  #work main section:first-of-type article:nth-of-type(7) ul {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
  
    margin: 2rem;
    gap: 2rem;
  }

  #work main section:first-of-type article:nth-of-type(7) ul li:first-of-type {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  #work main section:first-of-type article:nth-of-type(7) ul li:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  #work main section:first-of-type article:nth-of-type(7) ul li img {
    justify-content: center;
  }

}

@media (min-width: 100em) {
  #large main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    font-size: 3rem;
  }

  #large main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    font-size: 2rem;
  }

  #large main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
    font-size: 1.8rem;
    max-width: 60rem;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #large main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #large main section:first-of-type article:nth-of-type(4) ul li p {
    font-size: 1.8rem;
    max-width: 60rem; 
  }
}

/* link */

#large main section:first-of-type article:nth-of-type(8) ul li a p {
  font-size: 2.5rem;
  text-align: center;

  margin: 2rem 2rem 0 2rem;
  
  color: var(--purple);

  transition: 1s;
}

/* portfolio page */

#portfolio main section:first-of-type ul {
  padding: 0;
}

#portfolio main section:first-of-type ul li {
  color: white;
  font-family: 'Dongle', sans-serif;
}

#portfolio main section:first-of-type article:first-of-type {
  display: flex;
  margin: 2rem 5rem 2rem 5rem;
}

#portfolio main section:first-of-type article:first-of-type ul {
  padding: 0;
  width: 100%;
} 

/* image */

#portfolio main section:first-of-type article:first-of-type ul:first-of-type li img {
  width: 100%;
  height: auto;

  align-self: left;
}

/* info */

#portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 50%;

  gap: 1rem;
}

#portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li {
  text-align: left;
}

#portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
  font-size: 1.5rem;
  margin: 0;

  text-align: left;
}

@media (max-width: 56em) {
  #portfolio main section:first-of-type article:first-of-type {
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;
  }

  #portfolio main section:first-of-type article:first-of-type {
    margin: 0;
  }

  #portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 2rem;
  }

  #portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    text-align: center;
    width: 100%;
  }
  
  #portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    text-align: center;
    width: 100%;
  }
}

/* intro text */

#portfolio main section:first-of-type article:nth-of-type(2) {
  background-color: var(--purple);
}

#portfolio main section:first-of-type article:nth-of-type(2) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#portfolio main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
  font-size: 1.6rem;

  margin: 2rem 2rem 2rem 2rem;
  max-width: 50rem;

  text-align: left;
}

/* text + pictures */

#portfolio main section:first-of-type article:nth-of-type(3) ul {
  margin: 2rem 0 2rem 0;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:first-of-type li {
  display: flex;
  justify-content: center;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li {
  display: flex;
  justify-content: center;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li {
  display: flex;
  justify-content: center;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(5) li p {
  font-size: 1.5rem;
  margin: 2rem;

  max-width: 50rem;
  
  text-align: left;
}

/* last part */

#portfolio main section:first-of-type article:nth-of-type(4) ul {
  display: flex;
  justify-content: center;
}

#portfolio main section:first-of-type article:nth-of-type(4) ul li p {
  font-size: 1.5rem;
  margin: 2rem 2rem 2rem 2rem;

  max-width: 50rem;
  
  text-align: left;
}

#portfolio main section:first-of-type article:nth-of-type(5) {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0rem 0 0rem 0;
}

#portfolio main section:first-of-type article:nth-of-type(5) ul li:first-of-type h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* website link */

#portfolio main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(3) a {
  transition: 1s;
}

#portfolio main section:first-of-type article:nth-of-type(6) ul:nth-of-type(3) li a {
  transition: 1s;
  
}

#portfolio main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(3) a p {
  font-size: 2.5rem;
  text-align: center;

  margin: 2rem 2rem 0 2rem;
  
  color: var(--purple);

  transition: 1s;
}

#portfolio main section:first-of-type article:nth-of-type(6) ul:nth-of-type(3) li a {
  font-size: 2.5rem;
  text-align: center;

  color: var(--purple);

  transition: 1s;
}

#portfolio main section:first-of-type article:nth-of-type(6) ul li:nth-of-type(3) a:hover {
  text-decoration: underline;
}

#portfolio main section:first-of-type article:nth-of-type(6) ul:nth-of-type(3) li a:hover {
  text-decoration: underline;
}

/* pictures */

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li {
  width: 50%;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li img {
  width: 100%;
}


#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  gap: 2rem;
  
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type {
  width: 60%;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type img {
  width: 100%;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:nth-of-type(2) {
  width: 29%;
}

#portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:nth-of-type(2) img {
  width: 100%;
}


@media (max-width: 38em) {
  #portfolio main section:first-of-type article:first-of-type ul {
    margin-top: 2rem;
  }
}


@media (max-width: 43em) {
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 100%;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(2) li img {
    width:50%;
  }


  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 100%;
  
    gap: 2rem;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:first-of-type img {
    width: 90%;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:nth-of-type(2) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(4) li:nth-of-type(2) img {
    width: 90%;
  }

}

@media (min-width: 100em) {

  #portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li h1 {
    font-size: 3rem;
  }

  #portfolio main section:first-of-type article:first-of-type ul:nth-of-type(2) li p {
    font-size: 2rem;
  }

  #portfolio main section:first-of-type article:nth-of-type(2) ul:first-of-type li p {
    font-size: 1.8rem;
    max-width: 60rem;
  }

  #portfolio main section:first-of-type article:nth-of-type(3) ul:nth-of-type(3) li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #portfolio main section:first-of-type article:nth-of-type(3) ul:first-of-type li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #portfolio main section:first-of-type article:nth-of-type(4) ul li p {
    font-size: 1.8rem;
    max-width: 60rem; 
  }
}



/* work page */

/* project overview */

#mywork main {
  margin-top: 4rem;
}

#mywork main section {
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 2rem 2rem 2rem 2rem;

  gap: 2rem;
}

#mywork main section a ul {
  transition: 1s;
}

#mywork main section a {
  justify-items: center;
  margin: 0;
}

#mywork main section a ul li:first-of-type img {
  width: 100%;

  border-radius: 20px;
}

#mywork main section a {
  width: 50%;
}

#mywork main section:first-of-type a:nth-of-type(2) {
  width: 44%;
}

#mywork main section:first-of-type a:nth-of-type(2) img {
  width: 100%;
}

#mywork main section:nth-of-type(2) a:first-of-type {
  width: 47%;
}

#mywork main section:nth-of-type(2) a:first-of-type img {
  width: 100%;
}


#mywork main section a ul li:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  text-align: center;

  font-family: 'Dongle', sans-serif;
}

@media (min-width: 38em) {
  #mywork main section a ul li:nth-of-type(2) {
    font-size: 1.8rem;
  }
}

@media (max-width: 38em) {
  #mywork main {
    margin-top: 8rem;
  }
}

@media (min-width: 60em) {
  #mywork main section a ul li:nth-of-type(2) {
    font-size: 2rem;
  }

}

/* grid display on smaller screens (making sure only
one block shows per column */

@media (max-width: 60em) {
  #mywork main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #mywork main section a:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  #mywork main section:first-of-type a:first-of-type {
    width: 100%;
  }

  #mywork main section:first-of-type a:nth-of-type(2) {
    width: 100%;
  }

  #mywork main section:nth-of-type(2) a:first-of-type {
      width: 100%;
    }

    #mywork main section:nth-of-type(2) a:nth-of-type(2) {
      width: 100%;
    }

}

/* adding states to the different blocks */

#mywork main section a ul:hover {
  transform: scale(1.05);
}

#mywork main section a ul:active {
  transform: scale(0.95);
}

#mywork main section a:focus {
  transition: 0s; 
  padding: 1rem;
  border: 2px dashed var(--purple);
  outline: none;
}



/* about me */

#about main {
  margin-top: 5rem;
}

#about main section ul li:nth-of-type(2) h1 {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about main section:first-of-type ul li:first-of-type {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

#about main section:first-of-type ul li:first-of-type img {
  width: 20rem;
  height: auto;

  border-radius: 1000px;

  margin-bottom: 2rem;
}

/* text */

#about main section:first-of-type ul li:nth-of-type(2) {
  display: flex;
  justify-content: center;

  background-color: var(--purple);
  margin: 3rem 0 2rem 0;
  padding: 3em 0 3em 0;
}

#about main section:first-of-type ul li:nth-of-type(2) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul li:nth-of-type(3) {
  display: flex;
  justify-content: center;

  margin: 2rem 0 2rem 0;
}

#about main section:first-of-type ul li:nth-of-type(3) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul li:nth-of-type(4) {
  display: flex;
  justify-content: center;

  margin: 2rem 0 2rem 0;
}

#about main section:first-of-type ul li:nth-of-type(4) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul li:nth-of-type(5) {
  display: flex;
  justify-content: center;

  margin: 2rem 0 2rem 0;
}

#about main section:first-of-type ul li:nth-of-type(5) p {
  color: white;
  font-family: 'Dongle', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul li:nth-of-type(6) {
  display: flex;
  justify-content: center;

  margin: 3rem 0 0 0;
}

#about main section:first-of-type ul li:nth-of-type(6) p {
  color: var(--white);
  font-family: 'Dongle', sans-serif;
  text-align: left;
  font-size: 1.7rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

#about main section:first-of-type ul li:nth-of-type(7) {
  display: flex;
  justify-content: center;

  margin: 1rem 0 2rem 0;
}

#about main section:first-of-type ul li:nth-of-type(7) p {
  color: var(--purple);
  font-family: 'Dongle', sans-serif;
  text-align: left;
  font-size: 1.7rem;
  padding: 0 3rem 0 3rem;

  flex-grow: 2;

  max-width: 50rem;
}

@media (max-width: 38em) {
  #about main {
    margin-top: 9rem;
  }
}

/* bigger screens */

@media (min-width: 100em) {
  #about main section:first-of-type ul li h1 {
    font-size: 3rem;
  }

  #about main section:first-of-type ul:first-of-type li p {
    font-size: 1.7rem;
    max-width: 60rem;
  }

  #about main section:first-of-type ul li:nth-of-type(6) p {
    font-size: 2rem;
  }

  #about main section:first-of-type ul li:nth-of-type(7) p {
    font-size: 2rem;
  }
}